<script type="text/ng-template" id="forgotModal.html">
  <div class="modal-header">
    <div class="modal-title"><h4>Recover username/password</h4></div>
  </div>
  <form name="forgotForm" id="forgotForm" role="form">
    <div class="modal-body">
    <div class="alert alert-success" role="alert" ng-show="forgotFormSuccess">{{ message }}</div>
    <div class="alert alert-danger" role="alert" ng-show="forgotFormError"><strong>Sorry, </strong>{{ message }}</div>
      <div class="help-block">Provide your account's email address so we can send you your credentials.</div>
      <div class="form-group" ng-class="{'has-error': forgotForm.email.$dirty && forgotForm.email.$error.required}">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" ng-model="email" ng-required="true" required>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" ng-click="submit(email)">Submit</button>
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
  </form>
</script>

<div class="container">
  <div class="col-xs-12">
    <h4>Login</h4>
  </div>
  <form name="login" id="login" role="form">
    <div class="col-xs-6">
      <div class="alert alert-danger" role="alert" ng-show="vm.error"><strong>Sorry,</strong> the username or password you entered is incorrect.</div>
      <div class="form-group" ng-class="{ 'has-error': login.username.$dirty && login.username.$error.required }">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Username" ng-model="vm.username" required>
        <span ng-show="login.username.$dirty && login.username.$error.required" class="help-block">Username is required</span>
      </div>
      <div class="form-group" ng-class="{ 'has-error': login.password.$dirty && login.password.$error.required }">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" ng-model="vm.password" required>
        <span ng-show="login.password.$dirty && login.password.$error.required" class="help-block">Password is required</span>
      </div>
      <button type="submit" ng-disabled="login.$invalid || dataLoading" class="btn btn-primary" ng-click="vm.login()">Login</button>
      <button type="button" class="btn btn-default" ng-click="open()">Forgot your username/password?</button>
    </div>
  </form>
</div>
