<div class="container">
  <div class="row">
    <div id="col-xs-12">
      <h1>Archive</h1>
    </div>
  </div>
   <form class="form-inline well">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="text_search">Text Search</label>
          <input type="text" class="form-control" id="text_search" ng-model="vm.text_search">
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input type="text" class="form-control" id="author" ng-model="vm.author">
        </div>
        <div class="form-group">
          <label for="order">Order</label>
          <select class="form-control" id="order" ng-model="vm.order">
            <option>Date Asc.</option>
            <option>Date Desc.</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.search(vm.text_search, vm.author, vm.order)">Search</button>
      </div>
    </div>
  </form>
  <div class="alert alert-warning" role="alert" ng-show="vm.articles.length == 0">Sorry, your search returned no articles.</div>
  <span ng-show="vm.count" class="help-block">Showing {{ vm.lower }}-{{ vm.upper }} of {{ vm.count }} articles</span>
  <div class="row" ng-repeat="article in vm.articles track by $index">
    <a href="/articles/{{ article.article_id }}" class="archive_article">
      <div class="col-xs-3">
        <img class="img-responsive" ng-src="{{article.img}}">
      </div>
      <div class="col-xs-9">
        <h3>{{ article.title }} <small>by {{ article.author }}<small> on {{ article.date | date:'longDate' }}</small></small></h3>
        <p>{{ article.byline }}</p>
        <div ng-if="article.rate">
          <uib-rating ng-model="article.rate" max="vm.max" readonly="vm.isReadonly" state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
        </div> 
      </div>
    </a>
  </div>
  <div ng-if="vm.count > 5" class="row">
    <div class="col-xs-12">
      <uib-pagination total-items="vm.count" items-per-page="5" ng-model="vm.currentPage" max-size="5" class="pagination-md" boundary-links="true" rotate="true" num-pages="vm.num_pages" ng-change="vm.pageChanged()"></uib-pagination>
    </div>
  </div>
</div>