.tint {
  position: relative;
  float: left;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.red:before {
  background: rgba(144, 0, 0, 0.5);
}

.green:before {
  background: rgba(22, 89, 4, 0.5);
}

.blue:before {
  background: rgba(6, 26, 125, 0.5);
}

.pink:before {
  background: rgba(125, 0, 69, 0.5);
}

.orange:before {
  background: rgba(212, 69, 11, 0.5);
}

.lime-green:before {
  background: rgba(123, 212, 11, 0.5);
}

.light-blue:before {
  background: rgba(0, 229, 255, 0.5);
}

.purple:before {
  background: rgba(122, 3, 232, 0.5);
}

.yellow:before {
  background: rgba(240, 229, 0, 0.5);
}

.mint:before {
  background: rgba(0, 255, 146, 0.5);
}