<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="img-responsive">
        <div class="ratio img-responsive"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>{{ vm.date | date:'longDate' }}</h6>
      <h2>{{ vm.title }} <small>By {{ vm.author }} <span class="label label-primary">{{ vm.role }}<span></small></h2>
      <h4>{{ vm.byline }}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div ng-bind-html="vm.body"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-8 col-md-9" ng-if="vm.rate">
      <div><strong>Final Verdict: </strong> </div><uib-rating ng-model="vm.rate" max="vm.max" readonly="vm.isReadonly" state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
    </div>
    <div class="col-xs-5 col-sm-2 col-md-2">
      <span fb-like="vm.url"></span>
    </div>
    <div class="col-xs-3 col-sm-2 col-md-1">
      <span tweet="vm.title" tweet-url="vm.url"></span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <dir-disqus disqus-shortname="{{ vm.disqusShortname }}"
         disqus-identifier="{{ vm.disqusId }}"
         disqus-url="{{ vm.url }}"
         disqus-title="{{ vm.title }}">
      </dir-disqus>
    </div>
  </div>

</div>
