<div class="container">
	<div class="row">
		<div class="col-xs-{{ vm.grid_widths_sm[0][$index] }} col-md-{{ vm.grid_widths_md[0][$index] }}" ng-repeat="article in vm.rows[0] track by $index">
			<a href="/articles/{{ article.article_id }}" class="img-responsive">
				<div class="ratio tint {{ article.img_tint }}" style="background-image:url({{ article.img }})" class="img-responsive">
					<div class="author">{{ article.author }}</div>
				</div>
				<div class="img-text tint {{ article.img_tint }}">
					<h2>{{ article.title }}</h2>
					<p>{{ article.byline }}</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-{{ vm.grid_widths_sm[1][$index] }} col-md-{{ vm.grid_widths_md[1][$index] }}" ng-repeat="article in vm.rows[1] track by $index">
			<a href="/articles/{{ article.article_id }}" class="img-responsive">
				<div class="ratio tint {{ article.img_tint }}" style="background-image:url({{ article.img }})" class="img-responsive">
					<div class="author">{{ article.author }}</div>
				</div>
				<div class="img-text tint {{ article.img_tint }}">
					<h2>{{ article.title }}</h2>
					<p>{{ article.byline }}</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-{{ vm.grid_widths_sm[2][$index] }} col-md-{{ vm.grid_widths_md[2][$index] }}" ng-repeat="article in vm.rows[2] track by $index">
			<a href="/articles/{{ article.article_id }}" class="img-responsive">
				<div class="ratio tint {{ article.img_tint }}" style="background-image:url({{ article.img }})" class="img-responsive">
					<div class="author">{{ article.author }}</div>
				</div>
				<div class="img-text tint {{ article.img_tint }}">
					<h2>{{ article.title }}</h2>
					<p>{{ article.byline }}</p>
				</div>
			</a>
		</div>
	</div>
</div>
