<!DOCTYPE HTML>
<html lang="en" data-ng-app="sbApp" data-ng-controller="indexController">
<head>
	<!-- meta -->
	<meta charset="utf-8">
	<base href="/">
	<title>{{ metadata.title }}</title>
	<meta title="{{ metadata.title }}" ng-if="metadata.title"/>
	<meta description="{{ metadata.description }}" ng-if="metadata.description">
	<meta charset="utf-8"/>

	<!-- open graph -->
	<meta property="og:title" content="{{ metadata.title }}" ng-if="metadata.title"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="http://storybored.news/img/storybored-fb.png"/>
	<meta property="og:url" content="http://storybored.news"/>
	<meta property="og:description" content="{{ metadata.description }}" ng-if="metadata.description"/>
	
	<!-- build:css -->
	<!-- endbuild -->
	<!-- build:theme -->
	<!-- endbuild -->
</head>
<body>
	<!-- build:js -->
	<!-- endbuild -->
	<header>
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-sm-6">
					<div id="logo"><a href="/">Story<span>Bored</span></a></div>
				</div>
				<div class="col-xs-7 col-sm-5"></div>
				<div class="col-xs-1 col-sm-1">
			    <!-- Simple dropdown -->
			    <span uib-dropdown uib-keyboard-nav dropdown-append-to-body>
			      <a href id="simple-dropdown" uib-dropdown-toggle>
			        <i class="fa fa-bars"></i>
			      </a>
			      <ul class="uib-dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
			        <li><a href="" ng-click="toggleTheme()" id="light-switch"><i class="fa fa-lightbulb-o"></i><span></span></a></li>
							<li><a href="/archive"><i class="fa fa-archive"></i>Archive</a></li>
							<li ng-show="globals.currentUser" role="separator" class="divider"></li>
							<li ng-show="globals.currentUser" class="dropdown-header">Admin Actions</li>
							<li ng-show="globals.currentUser"><a href="/dashboard"><i class="fa fa-cogs"></i>Dashboard</a></li>
							<li ng-show="globals.currentUser"><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
			      </ul>
			    </span>
				</div>
			</div>
		</div>
	</header>
	<!-- this is where content will be injected -->
	<div class="page" data-ng-view></div>
</body>
</html>