<div data-ng-controller="EditArticleFormController as article">
  <div class="row">
    <div class="col-xs-12">
      <h2>Edit Article</h2>
    </div>
  </div>
  <div class="row">
    <form name="article_search">
      <div class="col-xs-4">
        <div class="form-group">
          <label class="control-label" for="search">Search</label>
          <input type="text" name="search" class="form-control" id="search" ng-model="search" ng-model-options="{debounce: 1000}"></textarea>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <label class="control-label" for="select">Select Article</label>
          <select name="select" id="select" class="form-control" ng-options="title as title.title for title in titles" ng-model="selectedArticle" required=""></select>
        </div>
      </div>
    </form>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Article Preview</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="img-responsive">
                    <div id="edit" class="ratio img-responsive"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <h6>{{ article.date | date:'longDate' }}</h6>
                  <h2>{{ article.title }} <small>By {{ article.author }}</small></h2>
                  <h4>{{ article.byline }}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div id="htmlBody" ng-bind-html="article.body"></div>
                  <div ng-if="article.rate">
                    <span><strong>Final Verdict: </strong> </span><uib-rating ng-model="article.rate" max="max" readonly="true" state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form name="articleForm" novalidate>
        <div class="alert alert-success" role="alert" ng-show="articleForm.success">{{ articleForm.msg }}</div>
        <div class="alert alert-danger" role="alert" ng-show="articleForm.error"><strong>Sorry,</strong> {{ articleForm.msg }}</div>
        <span class="help-block">All fields required</span>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group" ng-class="{'has-error': articleForm.title.$error.required && articleForm.title.$touched}">
              <label class="control-label" for="title">Title</label>
              <textarea name="title" rows="1" msd-elastic class="form-control" id="title" ng-model="article.title" required=""></textarea>
              <span class="help-block" ng-show="articleForm.title.$error.required && articleForm.title.$touched">Please input an article title</span>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label class="control-label" for="rate">Rating <small>(optional)</small></label>
              <div class="input-group">
                <uib-rating name="rate" class="form-control" ng-model="article.rate" max="max" readonly="isReadonly" state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-leave="overStar = null" aria-labelledby="default-rating"></uib-rating>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-danger" ng-click="article.rate = null">Clear</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="form-group" ng-class="{'has-error': articleForm.byline.$error.required && articleForm.byline.$touched}">
              <label class="control-label" for="byline">Byline</label>
              <textarea name="byline" rows="1" msd-elastic class="form-control" id="byline" ng-model="article.byline" required=""></textarea>
              <span class="help-block" ng-show="articleForm.byline.$error.required && articleForm.byline.$touched">Please input an article byline</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group" ng-class="{'has-error': articleForm.body.$error.required && articleForm.body.$touched}">
              <label class="control-label" for="markdownBody">Body <small>(in <a href="https://help.github.com/articles/markdown-basics/">markdown</a>)</small></label>
              <textarea name="body" msd-elastic class="form-control" id="markdownBody" ng-model="article.markdownBody" required=""></textarea>
              <span class="help-block" ng-show="articleForm.body.$error.required && articleForm.body.$touched">Please input an article body</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-7">
            <div class="form-group" ng-class="{'has-error': (articleForm.img.$error.required || articleForm.img.$error.url) && articleForm.img.$touched}">
              <label class="control-label" for="imageUrl">Article Image URL</label>
              <input name="img" type="url" id="img" class="form-control" ng-model="article.img" required="">
              <span class="help-block" ng-show="articleForm.img.$error.url">Please input a valid image url</span>
              <span class="help-block" ng-show="articleForm.img.$error.required && articleForm.img.$touched">Please input an article image url</span>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group" ng-class="{'has-error': articleForm.img_tint.$error.required && articleForm.img_tint.$touched}">
              <label for="img_tint" class="control-label">Image Tint</label>
              <select name="img_tint" id="img_tint" class="form-control" ng-model="article.img_tint" required="">
                <option ng-repeat="tint in tints track by $index">{{ tint }}</option>
              </select>
              <span class="help-block" ng-show="articleForm.img_tint.$error.required && articleForm.img_tint.$touched">Please select an image tint</span>
            </div>
          </div>
          <div class="col-sm-3">
            <label for="img_preview" class="control-label">Tint Preview</label>
            <div class="img-responsive" name="img_preview">
              <div id="edit" class="ratio tint {{ article.img_tint }}"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <br>
            <input type="submit" class="btn btn-primary" ng-click="editArticle(article, articleForm.$valid)" value="Edit Article"/>
            or
            <input type="submit" class="btn btn-danger" ng-click="deleteArticle(article.article_id, article_search.$valid)" value="Delete Article"/>
          </div>
        </div>
      </form>
      <br>
    </div>
  </div>
</div>
